/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------------------*/
/* ---------Règles générales-------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html {
  margin: auto;
  max-width: 768px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header {
  background-color: #f4f4f4;
  height: 380px;
}
.logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.barre_recherche_restaurant {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: #e7e7e7;
  height: 50px;
  align-content: flex-end;
  box-shadow: 0px 3px 5px #cccccc inset;
  /*box-shadow: 0px 10px 10px -10px darken($color-background-section, 20) inset;
*/
}


.zone_recherche {
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: medium; /*taille icone*/
}

input,
#recherche_restaurant {
  border-style: none;
  background-color: #e7e7e7;
  width: 160px;
  color: black;
  padding-top: 7px; /*décalage du texte d'ex vers le bas*/
}

input::placeholder {
  background-color: #e7e7e7;
  color: black;
  font-weight: 600;
  font-size: medium;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  display: inline-flex;
  padding-top: 40px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  width: 70%;
}

h2 {
  display: inline-flex;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 900;
  width: 70%;
}
h3 {
  display: inline-flex;
  line-height: 20px;
  padding-bottom: 30px;
  font-size: 18px;
  font: weight 500px;
  text-align: center;
  color: #8d8d8d;
  width: 90%;
}
h4 {
  display: flex;
  font-size: 16px;
  width: 60%;
  justify-items: space-between;
}

.bouton_recherche {
  width: 58%;
  display: flex;
  padding: 15px;
  font-size: 16px;
  border: none;
  color: #e7e7e7;
  justify-content: center;
  background: linear-gradient(rgb(246, 176, 255), rgb(146, 32, 180));
  border-radius: 25px;
  box-shadow: 2px 2px 3px 1px #bbbbbb;
}

.bouton_recherche:active {
  width: 58%;
  display: flex;
  padding: 15px;
  font-size: 16px;
  border: none;
  color: #e7e7e7;
  justify-content: center;
  background: linear-gradient(
    rgba(246, 176, 255, 0.616),
    rgba(146, 32, 180, 0.452)
  );
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #bbbbbb;
}

/*Section guide étapes*/

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 45px 0px 20px 0px;
}
.guide_etapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0px 20px 0px;
}

.carte_guide {
  display: flex;
  box-sizing: border-box;
  justify-content: start;
  text-align: center;
  height: 72px;
  min-width: 80%;

  background-color: #f1f1f1;
  box-shadow: 0px 3px 20px #cccccc;
  margin: 0px 8px 25px 15px;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bolder;
}

.carte_guide:hover {
  background-color: #ae97c954;
}

.num_etape {
  position: relative;
  right: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(117, 58, 184);
  border-radius: 50%;
  padding: 5px 8px 5px 8px;
}
.icone_etape {
  padding: 0px 20px 0px 15px;
  font-size: 18px;
  color: #bdbdbd;
}

/*Zone cards_Restaurants */
.restaurants {
  background-color: #f3f3f3;
  padding: 50px 0px 40px 0px;
}
.conteneur_liste_restaurants {
  display: flex;
  flex-direction: column;
}

.conteneur_base_carte {
  display: flex;
  box-sizing: content-box;

  margin: 20px;
}

.card_restaurant {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 90%;
  background-color: #ffffff;
  margin-bottom: 25px;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px #cccccc;
}
.card_restaurant:hover {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 90%;
  background-color: #ffffff;
  margin-bottom: 25px;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 15px 2px #dadada;
}
.conteneur_image {
  display: flex;
  width: auto;
  height: 170px;
  object-fit: cover;
}

.photo_presentation_restaurant {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.etiquette_nouveau {
  position: absolute;
  left: 70%;
  margin-top: 15px;

  background-color: #8adabf;
  z-index: 5;
  color: #19996e;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 15px 5px 15px;
  border-radius: 2px;
}
.zone_text {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  padding-left: 10px;
  padding-top: 15px;
}

.restaurant {
  font-size: 18px;
  font-weight: 700;
}
.ville_restaurant {
  font-size: 18px;
  font-weight: 300;
}

.coeur_favoris {
  position: absolute;
  left: 80%;
  padding-top: 15px;
  background-color: transparent;
  color: #000000;
  font-size: 25px;
  font-weight: lighter;
}

.coeur_favoris:active {
  background-color: pink;
  z-index: 1;
  color: #e40000;
}

/*Footer*/

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 0px 40px 20px;
}

.menu_footer {
  line-height: 30px;
  list-style: none;
  color: white;
}

.lienfooter{
  text-decoration: none;
  color: white;
}
.liencards{
  text-decoration: none;
  color: rgb(0, 0, 0);
}


.fa-utensils {
  padding-right: 10px;
  font-weight: lighter;
  font-size: 14px;
}
.fa-handshake-angle {
  padding-right: 10px;
  font-weight: lighter;
  font-size: 10px;
}
