


/*--------- mise en page de la carte du restaurant ---------*/

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}
.menu-card {
  display: flex;
  flex-direction: column;
  margin-top: calc($hauteur-container-header-picture / 1.2);
  width: 100%;
  position: relative;
  justify-content: start;
  height: fit-content;
  border-radius: 30px 30px 0px 0px;
  background-color: $softbackground;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 0px 0px;

  .title-restaurant {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    padding-left: 20px;
  }
}

/*--------- mise en page des étapes de repas (entree-plat-dessert)  ---------*/

.menu-step {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
}

.underligne {
  display:flex;
  position: relative;
  width: 40px;
  margin: 20px 0px 15px 10px;
  border-bottom: 3px solid $tierciarycolor;
}
.menu-step-title {
  position: absolute;
  bottom: 4px;
  font-size: 16px;
  margin-left: 0px;
  width: fit-content;
}
