@media only screen and (min-width: 600px) 
{
  .bloc_guide_etapes {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .conteneur_cards_restaurants {
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .card_restaurant {
    max-width: 380px;
    flex-wrap: wrap;
  }
  .menu_1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    line-height: 30px;
    list-style: none;
    color: white;
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .bloc_guide_etapes {
    flex-direction: row;
  }
  .conteneur_cards_restaurants {
    flex-direction: row;
    box-sizing: border-box;
  }
  .card_restaurant {
    max-width: 450px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}
