header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 60px;
}

.header__nav1 .logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 60px;
}

.header__nav2 .fleche-nav {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 33%;
  padding-left: 20px;
  margin-left: 0px;
}

.header__nav2 .fleche-nav .fa-arrow-left {
  font-weight: bolder;
  font-size: 16px;
}

.header__nav2 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
}

.header__nav2 .space-nav-right {
  width: 33%;
}

.fleche-nav {
  width: 100%;
  margin-left: 10%;
}

.fleche-nav .fa-arrow-left {
  font-weight: bolder;
  font-size: 16px;
}

/* ------------------------Zone de recherche par ville ---------------------*/
.header__search-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
}

.header__search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000c0;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 3px 5px #cccccc inset;
          box-shadow: 0px 3px 5px #cccccc inset;
}

#input_city {
  width: 160px;
  background-color: #e7e7e7;
  border-style: none;
  padding-top: 7px;
  padding-left: 10px;
}

#input_city::-webkit-input-placeholder {
  color: #000000c0;
  font-weight: 600;
  font-size: medium;
  padding-left: 10px;
  font-size: 15px;
}

#input_city:-ms-input-placeholder {
  color: #000000c0;
  font-weight: 600;
  font-size: medium;
  padding-left: 10px;
  font-size: 15px;
}

#input_city::-ms-input-placeholder {
  color: #000000c0;
  font-weight: 600;
  font-size: medium;
  padding-left: 10px;
  font-size: 15px;
}

#input_city::placeholder {
  color: #000000c0;
  font-weight: 600;
  font-size: medium;
  padding-left: 10px;
  font-size: 15px;
}

/* -------------ACCUEIL Zone de Titres /slogan Page ---------------------*/
.text_zone_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/*--------- PAGE 1 mise en page de la carte du restaurant ---------*/
.header__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -1;
  max-width: 768px;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 10px 10px;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px 30px 0px 0px;
  background-color: #f4f4f4;
}

.restaurant-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px 0px 0px;
}

.restaurant-title .title-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding-left: 20px;
}

/*--------- mise en page des plats (card) ---------*/
.menu-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.menu-step-title {
  font-size: 14px;
  padding-left: 10px;
  height: 30px;
}

.container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 70px;
}
/*# sourceMappingURL=mise-en-page.css.map */