


.container__button {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.button#search,
.button#command {
  display: flex;
  width: 220px;
  height: 50px;
  font-size: 15px;
  letter-spacing: 0.6px;
  font-weight: 400;
  border: none;
  user-select: none;
  color: white;
  justify-content: center;
  align-items: center;
  background: linear-gradient($secondarycolor, $primarycolor);
  border-radius: 25px;
  box-shadow: 2px 3px 8px 0px #b1b1b1;
  &:hover {
    opacity: 75%;
    box-shadow: 4px 5px 9px 0px #666666;
  }
}
