
/*-------ANIMATION ET contenu des cards "plat"---------*/

.dish__card {
  display: flex;
  box-sizing: border-box;
  justify-content: start;
  height: 72px;
  min-width: 88%;
  box-shadow: 0px 3px 20px #cccccc;
  margin: 0px 8px 25px 10px;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bolder;
  
  &:hover {
    cursor: pointer;
    background-color: #ffffff;
     .fa-circle-check {
         color:white;
      z-index: 10;
      transform: rotate(360deg);
      transition: transform 400ms ease-in-out;
    }
     .slider__zone {
      width: 20%;
      transition : 400ms; 
    }
  }
}

.description {
  display: flex;
  width: 100%;
  padding: 10px;
  overflow: hidden;
 }

.dish__text-zone {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-left: 10px;
  
    .dish__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .accompagnement {
      white-space: nowrap;
      overflow: hidden;
      font-weight: 400;
      text-overflow: ellipsis;
    }
}
.price__zone {
  display: flex;
  justify-content: center;
  width: 20%;
  padding-top: 18px;
}

.slider__zone {
  display: flex;
  width: 0%;
  height: 100%;
  place-content: center;
  align-items: center;
  color: white;
  background-color: $tierciarycolor;
  border-radius: 0px 20px 20px 0px;
     
}
  
.fa-circle-check {
  color: transparent;
  z-index: -1;
  display: flex;
  transform: rotate(0deg);
  transition: transform 600ms ease-in-out;
  font-size: larger;
}

.dish__card:nth-child(1){
  animation:slidesUp;
  animation-duration:1s;
  animation-delay:1.1s;
  }
  
.dish__card:nth-child(2){
  animation:slidesUp;
  animation-duration:1s;
  animation-delay:1.2s;
}
.dish__card:nth-child(3){
  animation:slidesUp;
  animation-duration:1s;
  animation-delay:1.3s;
}
.dish__card:nth-child(4){
  animation:slidesUp;
  animation-duration:1s;
  animation-delay:1.4s;
}
@keyframes slidesUp{
  0%{opacity:0;position:relative;top:30px; 
}
  100%{opacity:1;position:relative;top:0}
}