@charset "UTF-8";
/*----------- variables de couleurs-------*/
/*--------------- Keyframes d'animation ----------------*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    z-index: -10;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    z-index: -10;
  }
}

@-webkit-keyframes fondu {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
  }
}

@keyframes fondu {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
  }
}

/*---------------------------*/
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-animation: fondu 1s ease;
          animation: fondu 1s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.loader__background {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: radial-gradient(circle, rgba(216, 144, 250, 0.733) 36%, rgba(241, 142, 195, 0.805) 100%);
}

/*----------- caracteristiques de placement dans la page -------*/
/*----------- caracteristiques du conteneur (box) -------*/
.container_icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: #d5f3eb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_icon:before {
  content: "";
  width: 270px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  background: linear-gradient(230.46deg, #9356dc -2.98%, #ff79da 68.14%, #f4f4f4 80%);
  -webkit-animation: spin 600ms ease;
          animation: spin 600ms ease;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

/*----------- apparence du coeur "favoris" par defaut-------*/
.fa-utensils {
  padding-top: 12px;
  padding-right: 10px;
  font-size: 120px;
  /*taille de l'icone */
  /* remplissage de l'icone */
  color: #f4f4f4;
  /*couleur de remplissage de l'icone par defaut*/
  -webkit-text-stroke: 1px grey;
  /* modifie l'épaisseur du trait de contour */
  /*----------- effet de remplissage au survol-------*/
}

.fa-utensils.fa-utensils:hover {
  color: transparent;
  /* la couleur du background qui doit apparaitre au hover */
  cursor: pointer;
  /* changement de l'apparence du pointer en "main" */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  /* nouvelle apparence du background */
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  /* cible de transition, temps, et type de d'animation de l'état A à l'état B */
}
/*# sourceMappingURL=loader.css.map */